@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

header{
  background-color: #ffffff;
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}


.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding{
  font-size: 2rem;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link{
  transition: 0.3s ease-out;
}

.nav-link:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 20px;
  height: 1px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #164085;
}


#icon-1, #icon-2,#icon-3, #icon-4
{
  transition: transform 0.2s ease-in-out;

}
#icon-1:hover, #icon-2:hover,#icon-3:hover, #icon-4:hover  {
  color: #164085;
  
  transform:  rotate(360deg);

}

#Ready-transform {
  background-image: url('https://unicorn-images.b-cdn.net/b0e121c4-9c33-4299-b938-e6ac34746e2a?optimizer=gif%27'); /* Replace with your image URL */
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat; /* Prevents tiling of the image */
  width: 100%;
  height: 400px;
  filter: brightness(100%);
   /* Adjust height as needed */
}

@media(max-width:1024px){
  .hamburger{
    display: none;
    background-color: white;
    box-shadow: 0px 5px 10px 6px rgb(236, 234, 234);
    padding: 5px;
    border-radius: 50%;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 9999;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}